<!DOCTYPE html>
<html>

<head>
  <title>Neural Nexus</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>

<body>
  <header><img src="/static/cube.png" width="70px" height="70px"><p>Neural Nexus</p></header>
  <div class="subheader">Stay on top of your financial goals with our investment tracking tool</div>
  <nav>
    <a href="">Home</a>
  </nav>
  <main>
    <!-- <div id="spinner">
      <img src="/static/milk-and-mocha-bears.gif"> sending ... 
    </div> -->
    <div id="lds-ring"><div></div><div></div><div></div><div></div></div>
    <div class = "card-wrapper">
      <div class='card'>
        <a class="twitter-timeline" href="https://twitter.com/pakpakchicken?ref_src=twsrc%5Etfw">Tweets by pakpakchicken</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
      <div class='card'>
        <img src = "/static/stock.jpeg">
        <button id="my-button1" class="button">Get Recommendations</button>
      </div>
    </div>
    <div class="card-wrapper">      
      
      <div class='card'>
        <img src = "/static/gsheets.jpeg">
        <!-- CREATE NEW GSHEETS WITH FINANCIAL INFO POPULATED -->
        <button id="my-button2" class="button">Populate Gsheets</button>
      </div>
      <div class='card'>
        <img src = "/static/telegram.jpeg">
        <button id="my-button3" class="button">Send Telegram</button>
      </div>
      
    </div>
    
  </main>
  <table class="styled-table">
    <thead id="tHead"></thead>
    <tbody id="tBody"></tbody>
  </table>
  

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{% static 'js/script.js' %}"></script>
</body>

</html>